.fm-style {
	.el-form-item__label {
		line-height: 24px !important;
		padding-bottom: 4px !important;
	}

	.el-form-item__content {
		line-height: 0 !important;
	}

	.el-form-item--small {
		.el-checkbox {
			line-height: 24px;
		}
		.el-radio {
			line-height: 24px;
		}

		.el-rate {
			margin-top: 6px;
		}
	}
	.el-form-item--mini {
		.el-checkbox {
			line-height: 20px;
		}
		.el-radio {
			line-height: 20px;
		}

		.el-rate {
			margin-top: 4px;
		}
	}
	.el-form-item--medium {
		.el-checkbox {
			line-height: 32px;
		}
		.el-radio {
			line-height: 32px;
		}

		.el-rate {
			margin-top: 8px;
		}
	}

	.el-select {
		width: 100%;
	}
}
